<div class="container-lg clearfix">
  <div class="Subhead">
    <div class="Subhead-heading">{{ title }}<span v-if="loading" class="AnimatedEllipsis"></span></div>
  </div>
  <div v-if="items.length > 0">
    <div
      class="col-sm-12 col-md-12 col-lg-12 p-5"
      v-for="(item, index) in items"
      :class="{ 'border-top' : index !== 0 }"
      :key="index+item.title"
    >
      <p class="h1">{{ item.title }}</p>
      <p class="lead pt-3">
        {{ item.excerpt }}
      </p>
      <fn-link :to="`/${link}/${item.slug}/`" :key="index"
        >Leia mais</fn-link
      >
    </div>
  </div>
  <div v-else class="col-sm-12 col-md-12 col-lg-12 p-5">
    Nenhum conteúdo disponível no momento
  </div>
</div>
