.tags {
  ul {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    list-style: none;
    order: 2;
    width: 100%;
    margin: 1rem 0;

    li {
      padding: 10px;
    }
  }
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.3s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
