<!-- <nav class="nav box-shadow-medium">
  <div class="container-lg clearfix">
    <div class="d-flex p-5 flex-justify-between">
      <div class="nav__logo">
        <fn-logo class="image" linkTo="/"></fn-logo>
      </div>
      <div class="nav__menu">
        <ul class="menu">
          <li class="nav__menu__item">
            <nuxt-link class="nav__menu__item--link" to="/">Home</nuxt-link>
          </li>
          <li class="nav__menu__item">
            <nuxt-link class="nav__menu__item--link" to="/about/"
              >About</nuxt-link
            >
          </li>
          <li class="nav__menu__item">
            <nuxt-link class="nav__menu__item--link" to="/portfolio/"
              >Portfolio</nuxt-link
            >
          </li>
          <li class="nav__menu__item">
            <nuxt-link class="nav__menu__item--link" to="/repositories/"
              >Repositories</nuxt-link
            >
          </li>
          <li class="nav__menu__item">
            <nuxt-link class="nav__menu__item--link" to="/contact/"
              >Contact</nuxt-link
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav> -->
<div class="Header nav box-shadow-medium">
  <div class="Header-item">
    <div class="nav__logo">
      <fn-logo class="image" linkTo="/"></fn-logo>
    </div>
  </div>
  <div class="Header-item Header-item--full">
    <!-- <img
      class="avatar"
      height="20"
      alt="@octocat"
      src="https://github.com/octocat.png"
      width="20"
    /> -->
  </div>
  <div class="Header-item mr-0">
    <div class="nav__menu">
      <ul class="menu">
        <li class="nav__menu__item">
          <nuxt-link class="nav__menu__item--link" to="/">Home</nuxt-link>
        </li>
        <li class="nav__menu__item">
          <nuxt-link class="nav__menu__item--link" to="/about/"
            >Sobre</nuxt-link
          >
        </li>
        <li class="nav__menu__item">
          <nuxt-link class="nav__menu__item--link" to="/projects/"
            >Projetos</nuxt-link
          >
        </li>
        <li class="nav__menu__item">
          <nuxt-link class="nav__menu__item--link" to="/posts/"
            >Posts</nuxt-link
          >
        </li>
        <li class="nav__menu__item">
          <nuxt-link class="nav__menu__item--link" to="/snippets/"
            >Snippets</nuxt-link
          >
        </li>
        <li class="nav__menu__item">
          <nuxt-link class="nav__menu__item--link" to="/contact/"
            >Contato</nuxt-link
          >
        </li>
      </ul>
    </div>
  </div>
</div>
