<div class="Header nav box-shadow-medium">
  <div class="Header-item">
    <div class="nav__logo">
      <fn-logo class="image" linkTo="/"></fn-logo>
    </div>
  </div>
  <div class="Header-item Header-item--full">&nbsp;</div>
  <div class="Header-item mr-0">
    <div class="nav__menu">
      <ul class="menu">
        <li class="nav__menu__item">
          <nuxt-link class="nav__menu__item--link" to="/">Home</nuxt-link>
        </li>
        <li class="nav__menu__item">
          <nuxt-link class="nav__menu__item--link" to="/about/"
            >Sobre</nuxt-link
          >
        </li>
        <li class="nav__menu__item">
          <nuxt-link class="nav__menu__item--link" to="/projects/"
            >Projetos</nuxt-link
          >
        </li>
        <li class="nav__menu__item">
          <nuxt-link class="nav__menu__item--link" to="/posts/"
            >Posts</nuxt-link
          >
        </li>
        <li class="nav__menu__item">
          <nuxt-link class="nav__menu__item--link" to="/snippets/"
            >Snippets</nuxt-link
          >
        </li>
        <li class="nav__menu__item">
          <nuxt-link class="nav__menu__item--link" to="/contact/"
            >Contato</nuxt-link
          >
        </li>
      </ul>
    </div>
  </div>
</div>
